<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Junkbot"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.Junkbot"
        android:enableOnBackInvokedCallback="false">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="landscape"
            android:preferMinimalPostProcessing="true"
            android:theme="@style/Theme.Junkbot">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
